@import 'components';

body {
    height: 100vh;
    background: $bg-color;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: $font-size;
    color: $text-color;
    line-height: 1.5;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section {
  padding-bottom: 25px;
}

.faq_btn {
  cursor: pointer;
  padding: 18px 0;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-bottom: 1px solid $divider-color;
  background: white;
}

.faq_arrow {
  float: right;
  padding-top: 4px;
}

.active {
  font-weight: 700;
  background: white;
  border-bottom: none;
  padding: 18px 0 0 0;

  .faq_arrow {
    transform: rotate(180deg);
  }

}

.faq_content {
  display: none;
  overflow: hidden;
  text-align: left;
  padding-right: 30px;
  border-bottom: 1px solid $divider-color;
}

.card {
    text-align: center;
    width: 75%;
    border-radius: 25px;
    background: url('../images/bg-pattern-mobile.svg'), white;
    background-position: top;
    background-repeat: no-repeat;
    padding: 25px;
    padding-top: 100px;
    margin-top: 150px;
}

.img-container {
    z-index: 1;
    position: absolute;
    top: 40px;
    margin-left: -6%;
}

.img-desktop {
    display: none;
}

h1 {
    font-weight: 700;
    color: $header-color;
    font-size: 2.6em;
}


.attribution { 
    padding-top: 20px;
    font-size: 11px; 
    text-align: center;
    color:white;
    
    a {
        color: hsl(228, 100%, 83%);
    }
}


@media (min-width: 1024px) {

    .img-mobile {
        display: none;
    }

    .img-desktop {
        display:inline;
    }

}